*.lock
*.vsidx

Launcher/bin/Debug
Launcher/obj/Debug
Build/Application Files/Launcher_1_0_0_0/Launcher.exe.manifest
Build/Application Files/Launcher_1_0_0_0/Launcher.exe.config
Build/Application Files/Launcher_1_0_0_0/Launcher.application
Launcher/.vs/Launcher/v17/.suo
